@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a0aec0; /* gray-400 */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #718096; /* gray-600 */
  }
  